  //color
  
    $numeros: hsl(243, 81%, 54%);
    $botonNumero: hsl(229, 7%, 55%);
    $botonOp: hsl(228, 56%, 26%);
    $cuerpoCalcu: hsl(229, 57%, 11%);
    $fondo: hsl(210, 27%, 85%);
    $pantalla: hsl(335, 100%, 65%);
    $clear: hsl(335, 100%, 65%);
    $boton-hover: hsl(197, 100%, 65%);
    $operador-hover: hsl(115, 47%, 62%);
    $background-hover: hsl(39, 92%, 66%);


